absl-py==0.9.0
aiodns==3.0.0
aiohttp==3.7.4.post0
aiohttp-socks==0.6.0
alabaster==0.7.8
altair==4.1.0
analysis==0.1.7
appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
argon2-cffi==20.1.0
astor==0.8.1
astroid==1.6.0
async-generator==1.10
async-timeout==3.0.1
attrs==21.2.0
audioread==2.1.9
autograd==1.3
Babel==2.4.0
backcall==0.2.0
base58==2.1.0
beautifulsoup4==4.9.3
bleach==4.0.0
blinker==1.4
boltiot==1.11.2
Brlapi==0.6.6
bs4==0.0.1
cachetools==4.2.2
cchardet==2.1.7
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==7.1.2
cloudpickle==0.5.2
cmake==3.21.1.post1
cmdstanpy==0.9.5
colorama==0.3.7
coloredlogs==15.0
colorlover==0.3.0
command-not-found==0.3
configobj==5.0.6
convertdate==2.3.2
cryptography==2.9
cssselect==1.1.0
cufflinks==0.17.3
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.24
dataclasses==0.8
dcase-util==0.2.16
decorator==5.0.9
defer==1.0.6
defusedxml==0.7.1
distlib==0.3.0
distro==1.6.0
dlib==19.19.0
docutils==0.14
elasticsearch==7.14.0
emoji==1.4.2
entrypoints==0.3
ephem==4.0.0.2
face-recognition==1.3.0
face-recognition-models==0.3.0
fake-useragent==0.1.11
fbprophet==0.7.1
filelock==3.0.12
future==0.18.2
gast==0.2.2
gdown==3.13.0
geographiclib==1.52
geopy==2.2.0
gitdb==4.0.7
GitPython==3.1.18
google-auth==1.14.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googletransx==2.4.2
grpcio==1.39.0
h5py==2.10.0
hijri-converter==2.1.3
holidays==0.11.2
html5lib==0.999999999
httplib2==0.9.2
humanfriendly==9.1
idna==3.2
idna-ssl==1.1.0
imageio==2.8.0
imagesize==0.7.1
importlib-metadata==4.6.3
importlib-resources==1.4.0
imutils==0.5.3
ipykernel==5.5.5
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==4.3.4
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.3.1
korean-lunar-calendar==0.2.1
lazy-object-proxy==1.3.1
librosa==0.8.0
llvmlite==0.35.0
logilab-common==1.4.1
louis==3.5.0
LunarCalendar==0.0.9
lxml==4.6.3
macaroonbakery==1.1.3
Mako==1.0.7
Markdown==3.2.1
MarkupSafe==2.0.1
matplotlib==3.3.4
mccabe==0.6.1
mistune==0.8.4
msgpack-python==0.5.6
multidict==5.1.0
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
netifaces==0.10.4
networkx==2.4
nltk==3.6.2
notebook==6.4.1
numba==0.52.0
numpy==1.19.5
numpydoc==0.7.0
oauthlib==3.1.1
onboard==1.4.1
opencv-contrib-python==4.2.0.34
opencv-python==4.5.3.56
opt-einsum==3.2.1
packaging==21.0
pafy==0.5.5
PAM==0.4.2
pandas==1.1.5
pandocfilters==1.4.3
parse==1.19.0
parso==0.8.2
patsy==0.5.1
pbr==5.4.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
pkg_resources==0.0.0
plotly==5.1.0
pmdarima==1.8.2
pooch==1.3.0
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.17.3
psutil==5.4.2
psycopg2==2.7.7
ptyprocess==0.7.0
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycares==4.0.0
pycodestyle==2.3.1
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
pydeck==0.6.2
pyDOE==0.3.8
pydot-ng==2.0.0
pyee==8.1.0
pyflakes==1.6.0
Pygments==2.9.0
PyGObject==3.26.1
PyICU==1.9.8
pyinotify==0.9.6
PyJWT==1.7.1
pylint==1.8.3
pymacaroons==0.13.0
PyMeeus==0.5.11
PyNaCl==1.1.2
pyparsing==2.4.7
pyppeteer==0.2.5
pyquery==1.4.3
pyRFC3339==1.0
pyrsistent==0.18.0
PySocks==1.7.1
pystan==2.19.1.1
pytesseract==0.3.4
python-apt==1.6.5+ubuntu0.5
python-dateutil==2.8.2
python-debian==0.1.32
python-magic==0.4.18
python-socks==1.2.4
python-telegram==0.12.0
python-telegram-bot==12.6.1
python-xapp==1.2.0
python-xlib==0.20
pytz==2021.1
PyWavelets==1.1.1
pyxdg==0.25
PyYAML==5.4.1
pyzmq==22.2.1
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
regex==2021.8.3
reportlab==3.4.0
requests==2.26.0
requests-html==0.10.0
requests-oauthlib==1.3.0
requests-unixsocket==0.1.5
resampy==0.2.2
roman==2.0.0
rope==0.10.5
rsa==4.0
schedule==1.1.0
scikit-build==0.11.1
scikit-image==0.16.2
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.1
sed-eval==0.2.1
selenium==3.141.0
Send2Trash==1.7.1
sessioninstaller==0.0.0
setproctitle==1.1.10
setuptools-git==1.2
simplegeneric==0.8.1
six==1.16.0
smmap==4.0.0
SoundFile==0.10.3.post1
soupsieve==2.2.1
Sphinx==1.6.7
spyder==3.2.6
statsmodels==0.12.2
stevedore==1.32.0
streamlit==0.86.0
system-service==0.3
systemd-python==234
telegram==0.0.1
tenacity==8.0.1
tensorboard==1.11.0
tensorflow==1.11.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
Theano==1.0.5
threadpoolctl==2.2.0
toml==0.10.2
toolz==0.11.1
torch==1.9.0+cpu
torchaudio==0.9.0
torchvision==0.10.0+cpu
tornado==6.1
tqdm==4.62.0
traitlets==4.3.3
tweepy==3.10.0
twilio==6.38.0
twint @ git+https://github.com/twintproject/twint.git@e7c8a0c764f6879188e5c21e25fb6f1f856a7221
typing-extensions==3.10.0.0
tzlocal==2.1
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.26.6
validators==0.18.2
virtualenv==20.0.17
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
w3lib==1.22.0
watchdog==2.1.3
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xgboost==1.4.2
xkit==0.0.0
yarl==1.6.3
zipp==3.5.0
